<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="newer">
        {{usersinfo}}<br>
        <ul>
            <li>{{usersinfo[0]}}</li>
            <li>{{usersinfo[1]}}</li>
            <li>{{usersinfo[2]}}</li>
        </ul>

        <h3>v-for指令</h3>
        <ul>
            <li v-for="us in usersinfo">{{us}}</li>
        </ul>    
        <ul>
            <li v-for="obj,index in usersobj">序号{{index}},name={{obj.name}},password={{obj.password}}</li>
        </ul>
    </div>

    <script>
        var v=new Vue({
            el:"#newer",
            data:{
                usersinfo:["雅妮","博文","刘萱艳"],
                usersobj:[
                    {"name":"雅尼","password":"123"},
                    {"name":"博文","password":"ABC123"},
                    {"name":"萱艳","password":"aaa123"}
                ]
            }
        })

    </script>
</body>
</html>