<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="newer">
        <h3>学员管理系统</h3>
        <p>
            学生学号:<input type="text" v-model="user.id"/>
            学生姓名:<input type="text" v-model="user.name"/>
            学生班级:<input type="text" v-model="user.classname"/>
            <button @click="add">添加学生信息</button>
        </p>
        <table border="1" width="400">
            <thead>
                <th>学号</th>
                <th>姓名</th>
                <th>班级</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="stu in userinfo">
                    <td>{{stu.id}}</td>
                    <td>{{stu.name}}</td>
                    <td>{{stu.classname}}</td>
                    <td>
                        <button>删除</button>
                        <button>修改</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        let v=new Vue({
            el:"#newer",
            data:{
                userinfo:[
                    {"id":"001","name":"萱艳","classname":"移动2032"},
                    {"id":"002","name":"小萱艳","classname":"移动2032"},
                    {"id":"003","name":"大萱艳","classname":"移动2032"}
                ],
                //定义一个属性存储当前需要添加的学生信息对象
                user:{}
            },
            methods:{
                add(){
                    //将当前获取到的用户信息存储到数组中
                    this.userinfo.push(this.user);
                    //初始化对象属性
                    this.user={}
                }
            }
        })

    </script>
</body>
</html>